@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<R7.MiniGallery.Models.ImageInfo>

@using DotNetNuke.Services.Localization
@using DotNetNuke.Web.Mvc.Helpers

<div class="minigallery-edit-image">
	<fieldset>
        <div class="dnnFormItem">
        </div>
    </fieldset>
</div>
