@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IList<R7.MiniGallery.ViewModels.ImageViewModel>>

@using System.Collections.Generic
@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Common.Utilities

@{
    JavaScript.RequestRegistration ("React");
    JavaScript.RequestRegistration ("ReactDOM");
    JavaScript.RequestRegistration ("BlueimpGallery");
    ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.MiniGallery/js/minigallery.min.js");
    ClientResourceManager.RegisterStyleSheet (Dnn.DnnPage, "~/Resources/Libraries/BlueimpGallery/02_25_00/css/blueimp-gallery.min.css");
}

<div class="minigallery-inner"
    data-module-id="@Dnn.ModuleContext.ModuleId"
    data-images="@Model.ToJson()">
</div>
