@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IList<R7.MiniGallery.ViewModels.ImageViewModel>>

@using System.Collections.Generic
@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Common.Utilities

@{
    JavaScript.RequestRegistration ("React");
    JavaScript.RequestRegistration ("ReactDOM");
    JavaScript.RequestRegistration ("BlueimpGallery");
    ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.MiniGallery/js/minigallery.min.js");
    ClientResourceManager.RegisterStyleSheet (Dnn.DnnPage, "~/Resources/Libraries/BlueimpGallery/02_25_00/css/blueimp-gallery.min.css");
}

<div id="lightbox-container-@Dnn.ModuleContext.ModuleId" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="root-@Dnn.ModuleContext.ModuleId" class="minigallery-images"></div>
@section scripts
{
    @if (Model.Count > 0) {
    <script type="text/javascript">
	    ReactDOM.render(
            React.createElement (MiniGallery, {Images: @Html.Raw(Model.ToJson())}, null),
            document.getElementById ("root-@Dnn.ModuleContext.ModuleId")
        );
	    $("#root-@Dnn.ModuleContext.ModuleId .links").each (function () {
        	$(this).click (function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {
	                    index: link,
	                    event: event,
	                    container: "#lightbox-container-@Dnn.ModuleContext.ModuleId"},
	                links = this.getElementsByTagName("a");
                blueimp.Gallery(links, options);
            });
        });
    </script>
    }
}
