@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<List<R7.MiniGallery.Models.ImageInfo>>

@using DotNetNuke.Collections
@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div class="minigallery-images">
</div>