@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<R7.MiniGallery.Models.MiniGallerySettings>

@using DotNetNuke.Web.Mvc.Helpers

<div class="minigallery-settings">
    <fieldset>
        <div class="dnnFormItem">
        </div>
    </fieldset>
</div>