.r7-mg-bulk-add .listImages .imageImage {
	float:right;
	max-width:120px;
	margin-top:9px
}

.r7-mg-bulk-add .listImages .divImage {
	float:left;
	width:120px
}

.r7-mg-bulk-add .listImages .divMiniForm {
	float:left;
	margin-left:10px
}

.r7-mg-bulk-add .listImages .textOrder {
	float:right;
	width:30px;
	margin-bottom:8px
}

.r7-mg-bulk-add .listImages .textTitle { min-width:290px }

.r7-mg-settings #ImageHandlerParams { font-family:Monospace }

.r7-mg-qsettings {
	min-width:320px;
	padding-top:1rem
}

.r7-mg-qsettings .r7-mg-qsettings-form { display:block }
.r7-mg-qsettings .r7-mg-qsettings-form-error { display:none }

.r7-mg-qsettings.error .r7-mg-qsettings-form { display:none }
.r7-mg-qsettings.error .r7-mg-qsettings-form-error { display:block }
