.r7-mg-bulk-add .listImages .imageImage 
{
	float:right;
	max-width:120px;
	margin-top:9px
}

.r7-mg-bulk-add .listImages .divImage 
{
	float:left;
	width:120px
}

.r7-mg-bulk-add .listImages .divMiniForm
{
	float:left;
	margin-left:10px
}

.r7-mg-bulk-add .listImages .textOrder
{
	float:right;
	width:30px;
	margin-bottom:8px
}

.r7-mg-bulk-add .listImages .textTitle { min-width:290px }

.r7-mg-settings #ImageHandlerParams { font-family:Monospace }
