.r7-mg-list.r7-mg-columns {
}

.r7-mg-columns .r7-mg-item, 
.r7-mg-columns .r7-mg-alt-item {
    display:inline-block;
    vertical-align:top;
    text-align:center
}

.r7-mg-columns .r7-mg-image {
    margin:2px 0
}

.r7-mg-columns .r7-mg-title {
}