.r7-mg-list.r7-mg-default {
}

.r7-mg-default .r7-mg-item, 
.r7-mg-default .r7-mg-alt-item {
    display:inline-block;
    vertical-align:top;
    text-align:center
}

.r7-mg-default .r7-mg-image {
    margin:2px
}

.r7-mg-default .r7-mg-title {
    position:absolute;
    bottom:0;
    z-index:10;
    color:#fff;
    background-color:#0007;
    text-align:left;
    margin:2px;
    padding:.25rem 1rem .5rem 1rem
}

/* temp workaround */
.r7-mg-default .r7-mg-image.rounded + .r7-mg-title,
.r7-mg-default .r7-mg-image.img-rounded + .r7-mg-title {
	border-bottom-left-radius:.25rem;
	border-bottom-right-radius:.25rem
}