/* Deprecated, same as Auto */
.MG_List.MG_Fixed {
}

.MG_Fixed .MG_Item, 
.MG_Fixed .MG_AltItem {
    display:inline-block;
    vertical-align:top;
    text-align:center
}

.MG_Fixed .MG_Image {
    margin:2px
}

.MG_Fixed .MG_Title {
    font-size:85%
}