.MG_List.MG_Auto {
    overflow:auto;
    overflow-x:hidden;
    overflow-y:auto
}

.MG_Auto .MG_Item, 
.MG_Auto .MG_AltItem {
    display:inline-block;
    vertical-align:top;
    text-align:center
}

.MG_Auto .MG_Image {
    margin:2px
}

.MG_Auto .MG_Title {
    font-size:85%
}