.r7-mg-list.r7-mg-default {
}

.r7-mg-default .r7-mg-item, 
.r7-mg-default .r7-mg-alt-item {
    display:inline-block;
    vertical-align:top;
    text-align:center
}

.r7-mg-default .r7-mg-image {
    margin:2px
}

.r7-mg-default .r7-mg-title {
    position:absolute;
    bottom:0;
    z-index:10;
    color:#fff;
    text-shadow:1px 1px 2px #000;
    text-align:left;
    padding-left:1rem;
    padding-right:1rem
}