ul.MG_List {
    list-style:none
}

ul.MG_List > li {
    list-item-style:none
}

.MG_List {
    display:block;
    width:100%;
    margin:0
}

.MG_List .MG_Edit {
	position:absolute;
	z-index:10;
	padding:4px
}

.MG_List .MG_Item,
.MG_List .MG_AltItem {
    position:relative
}

.MG_List .MG_NotPublished { opacity:0.3 }

.MG_List .MG_NotPublished:hover { opacity:1 }
